<?xml version="1.0" encoding="utf-8"?>
<Media Key="95e91486-bb6d-465c-814c-a1cdd160fb28" Alias="Image 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-17T22:44:27</CreateDate>
    <NodeName Default="Image 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qakotfln/icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>